/* ======================================
 * HOME
 * ====================================== */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: var(--spacing-lg) 0;
}

h1,
h2,
h3 {
    text-align: center;
}

/* ========== HERO  ========== */
#hero-video {
    width: 100%;
    position: relative;
    padding-top: 0;
    overflow: visible;

    .hero-container {
        width: 100%;

        .hero-video-content {
            width: 100vw;
            height: 80vh;
            object-fit: cover;
            display: block;
        }
    }

    .welcome-overlay {
        width: 100%;
        max-width: var(--max-width-container-md);
        margin: 0 auto;
        background-color: var(--color-bg-welcome);
        padding: var(--spacing-lg);
        text-align: justify;

        position: absolute;
        bottom: -160px;

        left: 50%;
        transform: translateX(-50%);

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            text-align: left;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}

/* ========== DISCOVERY ========== */
#decouverte {
    margin-top: 160px;
}

#culture,
#newsletter {
    background-color: var(--color-bg-section);
}

#decouverte,
#culture,
#contact,
#newsletter {
    width: 100%;

    p {
        margin-bottom: 1.2rem;
    }

    .decouverte-container,
    .culture-container,
    .contact-container,
    .newsletter-container {
        max-width: var(--max-width-container-md);
        margin: 2rem auto;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        .decouverte-item,
        .culture-item,
        .contact-item,
        .newsletter-item {
            max-width: 60%;
            /*padding: 0 2rem;*/
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .decouverte-img,
        .culture-img,
        .newsletter-img {
            width: 360px;
            padding: 1rem;

            img {
                width: 100%;
                border-radius: 6px;
            }
        }
    }
}

#contact {
    text-align: center;
}

#newsletter .newsletter-container .newsletter-item {
    max-width: 50%;
    text-align: center;
}