@import url("variables.css");
@import url("base.css");
@import url("decouverte.css");
@import url("contact.css");
@import url("culture.css");
@import url("404.css");
@import url("media-queries.css");

/* reset de base */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
