*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-height: 60px;
    --header-bg-color: rgba(90, 114, 93, 0.7);
    /*--text-menu-color: #F4F4F4;*/
    --text-menu-color: #F9F9F6;
    --main-bg-color: #9fb29f;
    /*--main-bg-color: #C7CFC5;*/
    --text-color: #1C1C1C;
    /*--section-bg-color: #F4F4F4;*/
    --section-bg-color: #EAEDE7;
    /*--footer-bg-color: #1C1C1C;*/
    --footer-bg-color: #405E49;
    --text-footer-color: #F9F9F6;
    --text-footer-hover-color: #3d2a1d;
    /*--btn-bg-color: #374437;*/
    --btn-bg-color: #5E4B3C;
    --btn-bg-hover-color: #405E49;
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-bg-color: rgba(28, 28, 28, 0.7);
        --text-menu-color: #9fb29f;
        --main-bg-color: #1f251f;
        --text-color: #EAEDE7;
        --section-bg-color: #313631;
        --footer-bg-color: #1b1f1c;
        --text-footer-color: #9fb29f;
        --text-footer-hover-color: #405E49;
        --btn-bg-color: #405E49;
        --btn-bg-hover-color: #5E4B3C;
    }
}

html, body {
    background-color: var(--main-bg-color);
    font-family: "Roboto Thin", sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
}

.logo {
    font-weight: bold;
    width: 140px;
    margin-right: 30px;
    color: var(--text-menu-color);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    span {
        font-size: 1.2rem;
        text-transform: capitalize;
    }

    img {
        height: 40px;
        border-radius: 50%;
    }
}

.btn {
    text-decoration: none;
    padding: 0.4rem 0.75rem;
    border-radius: 4px;
    color: var(--text-menu-color);
    background-color: var(--btn-bg-color);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--btn-bg-hover-color);
    }
}

header {
    height: var(--header-height);
    background-color: var(--header-bg-color);
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: 999;

    display: flex;
    justify-content: center;

    .header-container {
        width: 1280px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {

            ul {
                list-style: none;

                li {
                    display: inline-block;
                    padding-left: 30px;

                    &:last-child {
                        padding-right: 30px;
                    }
                }

                a {
                    text-decoration: none;
                    color: var(--text-menu-color);
                    font-weight: 600;
                    padding: 4px 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        text-align: center;

        h1 {
            font-size: 2rem;
        }

        h2 {
            color: var(--btn-bg-color);
            font-size: 2rem;
            text-transform: uppercase;
            padding-bottom: 1rem;
        }

        h3 {
            font-size: 1.2rem;
            text-transform: capitalize;
        }
    }

    #bg-video {
        width: 100%;
        position: relative;
        overflow: hidden;

        display: flex;
        justify-content: center;

        .video-container {
            video {
                width: 100vw;
                height: 80vh;
                object-fit: cover;
            }
        }
    }

    #welcome {
        max-width: 1080px;
        background-color: var(--section-bg-color);
        padding: 3rem;
        text-align: justify;
        border-radius: 6px;
        z-index: 1;

        top: 50%;
        left: 50%;
        transform: translate(0, -50%);

        .welcome-title {
            h1 {
                text-transform: uppercase;
            }
        }

        .welcome-text {
            p {
                padding-top: 1rem;
            }
        }
    }

    #decouverte {
        padding-bottom: 4rem;
    }

    #culture, #newsletter {
        background-color: var(--section-bg-color);
    }

    #culture, #contact, #newsletter {
        padding: 4rem 0;
    }

    #decouverte, #culture, #contact, #newsletter {
        width: 100%;

        p {
            margin-bottom: 1.2rem;
        }

        .decouverte-container, .culture-container, .contact-container, .newsletter-container {
            max-width: 1280px;
            margin: 2rem auto;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 3rem;

            .decouverte-item, .culture-item, .contact-item, .newsletter-item {
                max-width: 60%;
            }

            .decouverte-img, .culture-img, .newsletter-img {
                img {
                    max-width: 400px;
                    border-radius: 6px;
                }
            }
        }
    }

}

footer {
    width: 100%;
    color: var(--text-footer-color);
    padding: 1rem 0;
    background-color: var(--footer-bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-container {
        width: 100%;
        margin-top: 1rem;
        padding: 2rem;

        border-top: 1px solid var(--text-footer-color);
        border-bottom: 1px solid var(--text-footer-color);

        display: flex;
        justify-content: center;

        flex-wrap: wrap;
        gap: 2rem;

        .logo {
            padding: 0.4rem;
        }

        h4 {
            font-size: 1.2rem;
            padding-bottom: 0.5rem;
        }

        ul {
            list-style: none;

            li {
                padding-top: 0.4rem;
            }

            a {
                color: var(--text-footer-color);
                transition: color 0.3s ease-in-out;
                text-decoration: none;

                &:hover {
                    color: var(--text-footer-hover-color);
                }
            }
        }

        .footer-menu {
            width: 350px;
        }

        .footer-follow {
            width: 350px;
        }
    }

    .copyright {
        margin-top: 1rem;
        padding: 10px 0;

    }
}

/* Tablette */
@media (min-width: 768px) and (max-width: 1140px) {

    main {

        #bg-video {
            width: 100%;

            .video-container {
                video {
                    height: 100%;
                }
            }
        }

        #welcome {
            width: 100%;
            text-align: center;
            border-radius: 0;
            transform: translate(0, 0);
        }

        #decouverte, #culture, #contact, #newsletter {
            .decouverte-container, .culture-container, .contact-container, .newsletter-container {
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .decouverte-item, .culture-item, .contact-item, .newsletter-item {
                    max-width: 100%;
                }
            }
        }

        #decouverte {
            h2 {
                padding-top: 5rem;
            }
        }

        #culture, #contact {
            h2 {
                padding-top: 1rem;
            }
        }
    }
}

/* SMARTPHONES : moins de 768px */
@media screen and (max-width: 767px) {

    header {
        position: static;
        flex-direction: column;
        height: auto;

        .header-container {
            display: flex;
            flex-direction: column;
            width: 95%;
            align-items: center;

            .menu ul {
                padding-top: 1rem;
                text-align: center;

                li {
                    display: block;
                    text-align: center;
                    padding: 10px 0;

                    &:last-child {
                        padding-right: 0;
                        padding-bottom: 2rem;
                    }
                }
            }
        }

        .logo {
            display: none;
        }

    }

    main {

        section h1 {
            font-size: 1.5rem;
        }

        section h2 {
            font-size: 1.3rem;
        }

        section h3 {
            font-size: 1rem;
        }

        #bg-video {
            width: 100%;

            .video-container {
                video {
                    height: 100%;
                }
            }
        }

        #welcome {
            width: 100%;
            text-align: center;
            border-radius: 0;
            transform: translate(0, 0);
        }

        #decouverte {
            h2 {
                padding-top: 3rem;
            }
        }

        #decouverte, #culture, #contact, #newsletter {
            .decouverte-container, .culture-container, .contact-container, .newsletter-container {
                width: 90%;

                .decouverte-item, .culture-item, .contact-item, .newsletter-item {
                    min-width: 100%;
                }

                .decouverte-img, .culture-img {
                    min-width: 100%;
                    img{
                        min-width: 100%;
                    }
                }

                .newsletter-img {
                    display: none;
                }
            }
        }
    }

    footer {
        font-size: 0.9rem;
        padding: 1rem 0.5rem;

        .footer-container {
            flex-direction: column;
            align-items: center;
            padding: 1rem;

            .footer-menu, .footer-follow {
                width: 100%;
                text-align: center;
            }
        }

        .copyright {
            text-align: center;
            font-size: 0.8rem;
        }
    }
}
