:root {
    /* Layout */
    --border-radius: 8px;
    --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-heavy: 0 4px 8px rgba(0, 0, 0, 0.2);

    /*header*/
    --logo-height: 40px;
    --header-height: 60px;
    --header-bg-color: rgba(91, 36, 135, 0.7);
    --header-bg-color-full: #8356be;
    --text-menu-color: #F4F4F4;

    /* Typography */
    --color-text-primary: rgb(73, 60, 86);
    --color-heading: rgb(32, 15, 46);

    /* Backgrounds */
    --color-bg-main: rgb(242,242,248);
    --color-bg-section: #ffffff;
    --color-bg-welcome: #ffffff;

    /*global*/
    --font-family-main: "Arimo", sans-serif;
    --font-family-secondary: "Montserrat", sans-serif;

    /*footer*/
    --footer-bg-color: rgb(32,15,46);
    --text-footer-color: #F4F4F4;
    --text-footer-hover-color: #BF9BFA;

    /*bouton*/
    --btn-bg-color: #17359CFF;
    --btn-bg-hover-color: #1C42C1FF;

    /*404*/
    --accent: #C090EC;
    --error: #7821EA;

    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Arimo', sans-serif;

    /* Tailles de police */
    --font-size-xs: 0.75rem;       /* 12px */
    --font-size-sm: 0.875rem;      /* 14px */
    --font-size-md: 1rem;          /* 16px */
    --font-size-lg: 1.25rem;       /* 20px */
    --font-size-xl: 2rem;          /* 32px */
    --font-size-xxl: 3rem;         /* 48px */

    /* Espacements (utilitaires) */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
}

/* dark mode & high contrast mode */
@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
        --header-bg-color: rgba(28, 28, 28, 0.7);
        --header-bg-color-full: #596059;
        --text-menu-color: #e2e7e2;
        --main-bg-color: #424842;
        --text-color: #EAEDE7;
        --title-color: #e2e7e2;
        --section-bg-color: #6f786f;
        --section-welcome: #6f786f;
        --footer-bg-color: #2c302c;
        --text-footer-hover-color: #9ba89b;
        --text-footer-color: #f5f7f5;
        --btn-bg-color: #596059;
        --btn-bg-hover-color: #2c302c;

        --accent: #2c302c;
        --accent-dark: #6f786f;
        --accent-light: #2c302c;
        --error: #9ba89b;
    }
}

@media (max-width: 768px) {
    :root {
        --logo-height: 30px;
    }
}
