<div id="cookie-banner" class="cookie-banner hidden">
  <h2>Gestion des cookies</h2>
  <div class="cookie-content">
    <p>
      Ce site utilise des cookies et technologies similaires pour personnaliser le contenu, analyser le trafic et
      améliorer votre expérience.</p>
    <p>Vous pouvez choisir les catégories de cookies que vous acceptez et modifier vos
      préférences à tout moment.
    </p>
  </div>

  <div class="cookie-privacy-policy">
    <a href="../privacy-policy.html">Notre politique de confidentialité</a>
  </div>

  <div class="cookie-buttons">
    <button id="accept-cookies">Accepter</button>
    <button id="reject-cookies">Refuser</button>
  </div>
</div>
